/* CSS framework
@version 1.0.7 */

/* body */
body { 
    overflow: hidden;//Impedisce lo scroll in basso mentre è visibile il preloader
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:white; /* change if the mask should have another color then white */
    z-index:99999; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../../images/loading.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.navbar-nav i {
    text-align: center;
    width: 15px;
}

/* Paragrafo errore server */
p.server_error {
    color: red;
    font-style: italic;
}
blockquote.server_error {
    color:gray;
    font-size: 10px;
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
    text-align: justify;
    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
}

/* Paragrafo creazione/modifica/id */
p.created-updated-p {
    color:#bababa;
    font: {
        size:0.8em;
        style: italic;
    } 
}

/* Pulsante caricamento file */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Form */
div.form-error,div.form-message {
    display: none;
    font-size: 0.8em;
    margin-top: 0.5em;
    padding: 5px;
}
div.form-message {
    margin-top: 1.5em;
}
.has-feedback .form-control.currency {
    padding-left: 32.5px;
    padding-right: 0;
}
.has-feedback .form-control-feedback.currency {
    left: 0;
}
.security {
    position: fixed;
    top:-100000;
    left: -100000;
}

/* Simulazione */
.navbar-default .navbar-nav>li>a.fakeuser {
    color: red;
}

/* twitter */
.tweet,.tweet-reverse {
    header {
        i {color: #55acee;}
        span {color: #66757f;}
    }
    p {
        color: blask;
        .hashtag {color: #55acee;}
        a {
            color: #8899a6;
            transition: color 0.5s;
            &:hover {
                color: #55acee;
                text-decoration: none;
            }
        }
    }
}
.tweet-reverse {
    p {
        color: white;
    }
}